@model Ogrenci

<h2>Öğrenci Düzenle</h2>
<hr />

<div class="row">
    <div class="col-8">
        <form asp-controller="Ogrenci" asp-action="Edit" method="post">

            @* post formu çalışacağında öğrenci id'si de gönderilmeli *@
            <input type="hidden" asp-for="OgrenciId" />

            <div class="mb-3">
                <label asp-for="OgrenciAd" class="form-label">Öğrenci Adı</label>
                <input asp-for="OgrenciAd" class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="OgrenciSoyad" class="form-label">Öğrenci</label>
                <input asp-for="OgrenciSoyad" class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="Eposta" class="form-label">Öğrenci E-Posta</label>
                <input asp-for="Eposta" class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="Telefon" class="form-label">Öğrenci Telefon</label>
                <input asp-for="Telefon" class="form-control" />
            </div>

            <button type="submit" class="btn btn-primary">
                Kaydet
            </button>

        </form>
    </div>

    <div class="col-4">
        <h4>Kurslar</h4>
        <hr />
        <ul>
            @foreach (var item in Model.KursKayitlari)
            {
                // kurs üzerinden bilgi getirebilmek için OgrenciController üzerindeki edit metodunda KursKayitlari'na Include metodu ile kurs bilgisi eklenmişti
                // daha ThenInclude ile kursun bilgilerine de ulaşabilir hale geldik
                <li>@item.Kurs.Baslik</li>
            }
        </ul>
    </div>
</div>


