@model Kurs

@{
    ViewData["Title"] = "Kurs Ekle";
}

<h2>Kurs Ekle</h2>
<hr />
<form asp-controller="Kurs" asp-action="Create" method="post">

    @* post formu çalışacağında öğrenci id'si de gönderilmeli *@
    <div>
        <label asp-for="Baslik" class="form-label">Kurs Adı Giriniz:</label>
        <input asp-for="Baslik" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="OgretmenId" class="form-label">Öğretmen</label>
        <select asp-for="OgretmenId" asp-items="ViewBag.Ogretmenler" class="form-select">
            <option value="">Öğretmen Seçiniz</option>
        </select>
    </div>

    <br />
    <button type="submit" class="btn btn btn-danger">
        Kaydet
    </button>

</form>
