@model IEnumerable<Kurs>

@{
    ViewData["Title"] = "Kurs Listele";
}

<table class="table">
    <thead>
        <tr>
            <th>Kurs Listesi</th>
            <th>Kurs Adı</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.KursId
                </td>
                <td>
                    @item.Baslik
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.KursId">Düzenle</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.KursId">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-action="Create" asp-controller="Kurs">Kurs Ekle</a>